



{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<title>Need for feast</title>
<body class = 'main-body' >
    
    <div >
        
        <a href = '/'>
            <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
        </a>

        <span class="header">
            NEED FOR FEAST
        </span>
        
        {%if messages%}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}  
        </ul>
        {% endif %}

        

        
            {% if request.user.is_authenticated %}  
            <div class="home-content-wrapper">
                <span>
                    {%if request.user.role == 'OWNER' %}

                    <a href = "{% url 'stats'%}">
                        <button class = 'create-button'>
                            View stats
                        </button>
                    </a>
                    {%elif request.user.role == 'CUSTOMER' %}
                    
                    <a href = "{% url 'restaurant-list'%}">
                        <button class = 'create-button'>
                            Place order
                        </button>
                    </a>

                    {%elif request.user.role == 'DELIVERER' %}

                    <a href = "{% url 'stats'%}">
                        <button class = 'create-button'>
                            View stats
                        </button>
                    </a>

                    {%endif%}
                </span>

                <a href = "{% url 'logout' %}">
                    <button class = 'login-button'>
                        Logout
                    </button>
                </a>
            </div>

            <p>
                Hello, {{request.user.name}}
            </p> 
            <div class="home-details">
                {%if request.user.role == 'OWNER' %}
                    <a href = "{% url 'create_item' %}">
                        <button class = 'login-button' style='width : 100px ;'>
                            Add item
                        </button>
                    </a>

                    <table class = "pending-table">
                        <tr>

                            <th> Image </th>
                            <th> Item Name </th>
                            <th> Category</th>
                            <th> Price </th> 
                            <th> Offer </th>
                            <th> Quantity </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    
                        {% for item in item_list %}
                            <tr>
                                <td> <img class="menu-item-image" src="{{item.image.url }}" width="60px" height="60px"/> </td>
                                <td> {{item.name}} </td>
                                <td>
                                {%if item.category == 'VEG' %}
                                    <img src = "{%static 'images/veg.png'%}" width='40px' height='40px'/>
                                {%else%}
                                    <img src = "{%static 'images/nonveg.png'%}" width='40px' height='40px'/>
                                {%endif%}
                                </td>
                                <td> {{item.price|floatformat:"0"}} </td>
                                <td> {{item.offer}} </td>
                                <td > {{item.quantity}}</td>
                                <td> 
                                    <a href = "{% url 'update-item' item.id %}">
                                        <!-- <button class = 'create-button'>
                                            Edit
                                        </button> -->
                                        <i class="far fa-edit"></i>
                                    </a> 
                                </td>
                                <td> 
                                    <a href = "{% url 'delete-item' item.id %}">
                                        <!-- <button class = 'login-button' style='margin-top :0;'>
                                            Delete
                                        </button> -->
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a> 

                                </td>
                            
                            </tr>
                        {% endfor %}
                    </table>
    
                {%elif request.user.role == 'CUSTOMER' %}
                    <p> Pending orders</p>
                    {%for order in order_list%}
                        <p> Order number {{forloop.counter}} : {{order.created_on|timesince}} ago</p>
                        <a href = "{% url 'order-view' order.id %}" >
                            <button class = 'create-button'>
                                Details
                            </button>
                        </a>

                        {%if order.delivered%}
                            Delivered
                        {%else%}
                            Pending delivery 
                        {%endif%}
                    {%endfor%}

                <div>
                    {% comment %} Recommendations
                    {%for item_container in items%}
                    {{r.forloop.count0}}

                    {%endfor%} {% endcomment %}

                </div>
            

                {%elif request.user.role == 'DELIVERER' %}

                    Delivery needs for the Restaurant and customer

                {%endif%}
            </div>



            {% else %}
            <div class="home-content-wrapper">

                <a href = "{% url 'login'%}">
                    <button class = 'create-button'>
                        Place order
                    </button>
                </a>

                <a href = "{% url 'login' %}">
                    <button class = 'login-button'>
                        Login
                    </button>
                </a>
            </div>
            {% endif %}
        
         
        
        
    </div>   

    <div style="position: fixed; bottom: 0px ;text-align: center; width: 100%; font-size: xx-large;">
        Developed by  
            <a href="https://github.com/Hariish-A" >Hariish A</a>
        and
            <a href="https://github.com/hajay180505">Ajay H</a>
    </div>

</body>
