



{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>
<title>Need for feast</title>
<body class = 'main-body' >
    
    <div >
        
        <a href = '/'>
            <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
        </a>

        <span class="header">
            NEED FOR FEAST
        </span>
        
        {%if messages%}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}  
        </ul>
        {% endif %}

        

        
            {% if request.user.is_authenticated %}
            <div class="home-content-wrapper">
                <span>
                    {%if request.user.role == 'OWNER' %}

                    <a href = "{% url 'stats'%}">
                        <button class = 'create-button'>
                            View stats
                        </button>
                    </a>
                    {%elif request.user.role == 'CUSTOMER' %}
                    
                    <a href = "{% url 'restaurant-list'%}">
                        <button class = 'create-button'>
                            Place order
                        </button>
                    </a>

                    {%elif request.user.role == 'DELIVERER' %}

                    <a href = "{% url 'stats'%}">
                        <button class = 'create-button'>
                            View stats
                        </button>
                    </a>

                    {%endif%}
                </span>

                <a href = "{% url 'logout' %}">
                    <button class = 'login-button'>
                        Logout
                    </button>
                </a>
            </div>


            <div class="home-details">
                {%if request.user.role == 'OWNER' %}
                    Owner ooda item list
                    <a href = "{% url 'create_item' %}">
                        <button class = 'login-button'>
                            Add item
                        </button>
                    </a>
                {%elif request.user.role == 'CUSTOMER' %}
                
                    customer ooda order status and item reccomendations

                {%elif request.user.role == 'DELIVERER' %}

                    Delivery needs for the Restaurant and customer

                {%endif%}
            </div>



            {% else %}
            <div class="home-content-wrapper">

                <a href = "{% url 'login'%}">
                    <button class = 'create-button'>
                        Place order
                    </button>
                </a>

                <a href = "{% url 'login' %}">
                    <button class = 'login-button'>
                        Login
                    </button>
                </a>
            </div>
            {% endif %}
        
         
        
        
    </div>   

    <div style="position: fixed; bottom: 0px ;text-align: center; width: 100%; font-size: xx-large;">
        Developed by  
            <a href="https://github.com/Hariish-A" >Hariish A</a>
        and
            <a href="https://github.com/hajay180505">Ajay H</a>
    </div>

</body>
