



{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<title>Need for feast</title>
<body class = 'main-body'>
    
    <div >
        
        <a href = '/'>
            <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
        </a>

        <span class="header">
            NEED FOR FEAST
        </span>
        
        {%if messages%}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}  
        </ul>
        {% endif %}

        {% if request.user.is_authenticated %}  
            <div class="home-content-wrapper">
                <span>
                {%if request.user.role == 'OWNER' %}

                    <!-- <a href = "{% url 'stats'%}">
                        <button class = 'create-button' style='font-size : 1em; width : 130; margin :0'>
                            <i class="fa fa-lg fa-bar-chart" aria-hidden="true"></i> 
                            View stats
                        </button>
                    </a> -->
                {%elif request.user.role == 'CUSTOMER' %}
                    
                    <a href = "{% url 'restaurant-list'%}">
                        <button class = 'create-button'>
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                            Place order
                        </button>
                    </a>

                {%elif request.user.role == 'DELIVERER' %}

                    <!-- <a href = "{% url 'stats'%}">
                        <button class = 'create-button' style='font-size : 1em; width : 130; margin :0'>
                            <i class="fa fa-lg fa-bar-chart" aria-hidden="true"></i>
                            View stats
                        </button> -->
                    <!-- </a> -->

                {%endif%}
                </span>

                <a href = "{% url 'logout' %}">
                    <button class = 'login-button' >
                        <!--<i class='fa fa-lg fa-sign-out'></i> -->
                        Logout
                    </button>
                </a>
            </div>

            <p>
                Hello, {{request.user.name}}
            </p> 
            <div class="home-details">
                {%if request.user.role == 'OWNER' %}
                    Rating of {{request.user.restaurant.name1}}: 
                    <span>
                        {%with r=request.user.restaurant.rating%}
                        <i class="fa fa-star{% if r == 0.5 %}-half-o{% elif r < 1 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 1.5 %}-half-o{% elif r < 2 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 2.5 %}-half-o{% elif r < 3 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 3.5 %}-half-o{% elif r < 4 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 4.5 %}-half-o{% elif r < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        </span>
                        {%endwith%}
                    <br>
                    <a href = "{% url 'create_item' %}">
                        <button class = 'login-button' style='width : 100px ;'>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add item
                        </button>
                    </a>
                    {%if order_list%}
                        <p> Pending orders</p>
                        <table class='pending-table' style='margin-left:500px'>
                            <tr>
                                <th>Order ID </th>
                                <th> Time</th>
                                <th> </th>

                            </tr>
                        {%for order in order_list%}
                            <tr>
                                <td>
                                    {{order.pk}}
                                </td>
                                <td> 
                                    {{order.created_on|timesince}} ago
                                </td>
                                <td>
                                    <a href = "{% url 'order-view' order.id %}" >
                                        <button class = 'create-button'>
                                            Details
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {%endfor%}
                        </table>
                    {%endif%}

                    {%if cooking%}
                        <p> Cooking orders</p>
                        <form action="" method='POST'>
                            {%csrf_token%}
                            <table class='pending-table' style='margin-left:440px'>
                                <tr>
                                    <th>Order ID </th>
                                    <th> Time</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            
                                {%for order in cooking%}
                                    <tr>
                                        <td>
                                            {{order.pk}}
                                        </td>
                                        <td>
                                            {{order.created_on|timesince}} ago
                                        </td>
                                        <td>
                                            <a href = "{% url 'order-view' order.id %}" >
                                                <button class = 'create-button'>
                                                    Details
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="send_list" value="{{order.pk}}"/>
                                        </td>
                                    </tr>
                                {%endfor%}
                                </table>
                            <input type='submit' name='Send' value='Send to delivery' style='width:150'/>
                        </form>
                    {%endif%}

                    <br>
                    <table class = "pending-table" >
                        <tr>

                            <th> Image </th>
                            <th> Item Name </th>
                            <th> Category</th>
                            <th> Price </th> 
                            <th> Offer </th>
                            <th> Quantity </th>
                            <th> Rating </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    
                        {% for item in item_list %}
                            <tr>
                                <td> <img class="menu-item-image" src="{{item.image.url }}" width="60px" height="60px"/> </td>
                                <td> {{item.name}} </td>
                                <td>
                                {%if item.category == 'VEG' %}
                                    <img src = "{%static 'images/veg.png'%}" width='40px' height='40px'/>
                                {%else%}
                                    <img src = "{%static 'images/nonveg.png'%}" width='40px' height='40px'/>
                                {%endif%}
                                </td>
                                <td> {{item.price|floatformat:"0"}} </td>
                                <td> {{item.offer}} </td>
                                <td > {{item.quantity}}</td>
                                <td>
                                    <span>
                                        <i class="fa fa-star{% if item.rating == 0.5 %}-half-o{% elif item.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 1.5 %}-half-o{% elif item.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 2.5 %}-half-o{% elif item.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 3.5 %}-half-o{% elif item.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 4.5 %}-half-o{% elif item.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                        </span>

                                </td>
                                <td> 
                                    <a href = "{% url 'update-item' item.id %}">
                                        <button class = 'create-button' style='margin-top :0; width : 50'>
                                        <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
                                        </button> 
                                        <!--<i class="far fa-edit"></i>-->

                                    </a> 
                                </td>
                                <td> 
                                    <a href = "{% url 'delete-item' item.id %}">
                                        <button class = 'login-button' style='margin-top :0; width : 50'>
                                            <i class="fa fa-lg fa-trash-o" aria-hidden="true" style=''></i>
                                            
                                        </button>
                                    </a> 

                                </td>
                            
                            </tr>
                        {% endfor %}
                    </table>
    
                {%elif request.user.role == 'CUSTOMER' %}
                    <a href = "{% url 'order-history'  %}">
                        <button class = 'login-button' style='margin-top :0; width : 150'>
                            Order history                            
                        </button>
                    </a>
                    
                    {%if order_list%}
                    <p> Pending orders</p>
                        <table class='pending-table'>
                            <tr>
                                <th> Order ID</th>
                                <th> Time</th>
                                <th> Status</th>
                                <th> </th>

                            </tr>
                            
                        
                        {%for order in order_list%}
                        <tr>
                            <td>
                                {{order.pk}}
                            </td>
                            <td>
                                {{order.created_on|timesince}} ago
                            </td>
                            
                            {% comment %} # 0 - ordered
                            # -1 - refused order
                            # 1 - preparing
                            # 2 - ready for pickup
                            # 3 - on the way
                            # 4 - delivered {% endcomment %}
                            <td>
                                {%if order.delivered == 3 %}
                                    On the way 
                                {%elif order.delivered == 2 %}
                                    Ready for pickup
                                {%elif order.delivered == 1 %}
                                    Preparing
                                {%elif order.delivered == 0 %}
                                    Ordered
                                {%elif order.delivered == -1 %}
                                    Refused order
                                {%endif%}
                            </td>
                            <td>
                                <a href = "{% url 'order-view' order.id %}" >
                                    <button class = 'create-button'>
                                        Details
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                    {%endif%}

                <div>
                    Recommendations
                    <div class="scroll-container">
                        <ul class="cards">
                            {%for item in items%}
                            <li class="card">
                            <div>
                                <h3 class="card-title">{{item.name}} at {{item.restaurant.name1}}</h3>
                                <div class="card-content">
                                    <img src="{{item.image.url }}" width="60px" height="60px">
                                    <br>
                                    <span>
                                        <i class="fa fa-star{% if item.rating == 0.5 %}-half-o{% elif item.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 1.5 %}-half-o{% elif item.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 2.5 %}-half-o{% elif item.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 3.5 %}-half-o{% elif item.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    
                                        <i class="fa fa-star{% if item.rating == 4.5 %}-half-o{% elif item.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                        </span>
                                </div>
                            </div>
                            <div class="card-link-wrapper">
                              <a href="{% url 'order' item.restaurant.pk %}" class="card-link">Order</a>
                            </div>
                          </li>
                          {%endfor%} 
                        </ul>
                      </div>
                      

                </div>
            

                {%elif request.user.role == 'DELIVERER' %}

                    <p> Rating </p>
                    <span>
                        {%with r=request.user.delivererprofile.rating %}
                        <i class="fa fa-star{% if r == 0.5 %}-half-o{% elif r < 1 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 1.5 %}-half-o{% elif r < 2 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 2.5 %}-half-o{% elif r < 3 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 3.5 %}-half-o{% elif r < 4 %}-o {% endif %}" aria-hidden="true"></i>
                    
                        <i class="fa fa-star{% if r == 4.5 %}-half-o{% elif r < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        {%endwith%}    
                    </span>
                    {% if available%}
                    <br>
                        List of available orders
                        <table class="pending-table" style="line-height: normal;font-size: large;margin-left: 60;margin-right: 60;padding-left: 40;margin-top: 20;margin-bottom: 20;">
                            <tr>

                                <th> Order ID </th>
                                <th> Restaurant name</th>
                                <th> Restaurant address</th>
                                <th> Restaurant contact  </th> 
                                <th> Customer name </th>
                                <th> Customer address </th>
                                <th>  Customer contact </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        <form action='' method='POST'>
                            {%csrf_token%}

                        {%for order in available%}
                        <tr>
                            <td>
                                {{order.pk}}
                            </td>
                            <td>
                                {{order.restaurant.name1}}
                            </td>

                            <td>
                                {{order.restaurant.owner.addresses.address}}
                            </td>
                            <td>
                                {%for pn in order.restaurant.owner.phonenumbers_set.all %}
                                {{pn}} &nbsp
                                {%endfor%}
                            </td>
                            <td>
                                {{order.customer.name}}
                            </td>
                            <td>
                                {{order.customer.addresses.address}}
                            </td>
                            <td>
                                {%for pn in order.customer.phonenumbers_set.all %}
                                {{pn}} &nbsp
                                {%endfor%}
                            </td>
                            <td>
                            <input type="checkbox" name="deliver_list" value="{{order.pk}}"/>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>    
                        <input type='submit' name='Picked' value='Pick up' style='width:150'/>
                        </form>
                    {%endif%}

                    {% if picked%}
                    <br>
                        To be delivered
                        <table class="pending-table" style="line-height: normal;font-size: large;margin-left: 60;margin-right: 60;padding-left: 40;margin-top: 20;margin-bottom: 20;">
                            <tr>

                                <th> Order ID </th>
                                <th> Restaurant name</th>
                                <th> Restaurant address</th>
                                <th> Restaurant contact  </th> 
                                <th> Customer name </th>
                                <th> Customer address </th>
                                <th>  Customer contact </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        
                        <form action='' method='POST'>
                            {%csrf_token%}
                            
                                {%for order in picked%}
                                <tr>
                            <td>
                                {{order.pk}}
                            </td>
                            <td>
                                {{order.restaurant.name1}}
                            </td>

                            <td>
                                {{order.restaurant.owner.addresses.address}}
                            </td>
                            <td>
                                {%for pn in order.restaurant.owner.phonenumbers_set.all %}
                                {{pn}} &nbsp
                                {%endfor%}
                            </td>
                            <td>
                                {{order.customer.name}}
                            </td>
                            <td>
                                {{order.customer.addresses.address}}
                            </td>
                            <td>
                                {%for pn in order.customer.phonenumbers_set.all %}
                                {{pn}} &nbsp
                                {%endfor%}
                            </td>
                            <td>
                                <input type="checkbox" name="drop_list" value="{{order.pk}}"/>
                            </td>
                        </tr>
                        {%endfor%}
                        
                    </table>
                        <input type='submit' name='Dropped' value='Delivered' style='width:150'/>

                </form>
                    {%endif%}




                {%endif%}
            </div>



            {% else %}
            <div class="home-content-wrapper">

                <a href = "{% url 'login'%}">
                    <button class = 'create-button' style='font-size : 1em; width : 130; margin :0'>
                        <i class="fa fa-lg fa-cutlery" aria-hidden="true"></i>
                        &nbsp
                        Place order
                    </button>
                </a>

                <a href = "{% url 'login' %}">
                    <button class = 'login-button' style='width : 100'>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        &nbsp
                        Login
                    </button>
                </a>
            </div>
            {% endif %}
        
         
        
        
    </div>   

    <div style="position: fixed; bottom: 0px ;text-align: center; width: 100%; font-size: xx-large;">
        Developed by  
            <a href="https://github.com/Hariish-A" >Hariish A</a>
        and
            <a href="https://github.com/hajay180505">Ajay H</a>
    </div>

</body>

