{%load static%}
<html>

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>
<title>Need for feast</title>
<body class = "item-create">
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {%for field in form%}
        <div class = "table-addon">
            <label class="">
                {{field.label}}
            </label>
            {{field.errors}}
            {{field}}    
        </div>
        {%endfor%}
            <input type="submit" value="Finish" style="margin-bottom: 20;"/>
        
       

    </form>
    <a href = "/" style="margin-bottom: 20;">
        <button class = "sub-button" style="background-color: blue;margin-left: auto;"> Back </button>
    </a>
</body>


</html>
