{% extends 'main.html' %}

{%block content%}
{%if page == 'login'%}
<div>   
    <a5>
        <form method="POST" action="">
            {% csrf_token %}
            <label>Email :</label>
            <input type="email" name = 'email' placeholder="Enter your mail id" />

            <label>Password :</label>
            <input type="password" name = 'password' placeholder="Password" />

            <input type="submit" value="Login" />
        </form>
        <p>
            Haven't signed up ? 
        </p>
        <a href = "{% url 'register'%}">Sign up</a>
    </a5>
</div>
{%else%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        

        
        {{form.as_p}}
        <input type="submit" value="Register" />
        <p>
            Already signed up ? 
        </p>
        <a href = "{% url 'login'%}"> Log in</a>
    </form>
</div>
{%endif%}
{%endblock content%}