

{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>
<title>Need for feast</title>
<body  class = 'make-login' >
    
    <div class="login-container">
        
        <a href = '/'>
            <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
        </a>

        <span class="header">
            NEED FOR FEAST
        </span>
        
        {%if messages%}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}  
        </ul>
        {% endif %}

        {%if page == 'login'%}
        <div class = "login-content">   
            <form method="POST" action="" class="form-box">
                {% csrf_token %}
                <label>Email :</label>
                <input type="email" name = 'email' placeholder="Enter your mail id" />
                <br>    
                <label>Password :</label>
                <input type="password" name = 'password' placeholder="Password" />
                <br>
                <input type="submit" value="Login" />
            </form>
        <p>
            Haven't signed up ? 
        </p>
        <a href = "{% url 'role'%}">Sign up</a>
        </div>
        
        {%endif%}

    </div>   
    
 

</body>
