
{%load static%}
<title>
    Need for feast!
</title>
<head>
    <link rel='stylesheet' href="{%static 'styles/order.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />

</head>
<body>

    {%if messages%}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {%endfor%}
    </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th> Select </th>
                <th> Image </th>
                <th> Item Name </th>
                <th> Price </th> 
                <th> Quantity </th>
            </tr>
        
            {% for item in items %}
                <tr>
                    <td > <input type="checkbox" name="item_list" value="{{item.pk}}" /> </td>
                    <td> <img class="menu-item-image" src="{{item.image.url }}" width="60px" height="60px"/> </td>
                    <td> {{item.name}} </td>
                    <td> {{item.price}} </td>
                    <td > <input type="number" name="quantity_list" value="{{item.quantity}}" /> </td>
                
                </tr>
            {% endfor %}
        </table>
        <button> Submit </button>
    </form>
    <br>
    Developed by  
    <a href="https://github.com/Hariish-A">
        
            Hariish A
      
    </a>
    and
    <a href="https://github.com/hajay180505">
    
            Ajay H
        
    </a>
</body>


