
{%load static%}
<title>
    Need for feast!
</title>
<head>
    <link rel='stylesheet' href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />

</head>
<body style='background-image: url("../images/order.jpg"); background-size: 100% 100%;
opacity: 80%;
height:100vh;'>

    <div >
        <a href = '/'>
            <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
        </a>

        <div class = "order-container">

            <div class = "table-container">
                {%if messages%}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {%endfor%}
            </ul>
            {% endif %}
        
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <th> Select </th>
                        <th> Image </th>
                        <th> Item Name </th>
                        <th> Category</th>
                        <th> Price </th> 
                        <th> Quantity </th>
                    </tr>
                
                    {% for item in items %}
                        <tr>
                            <td > <input type="checkbox" name="item_list" value="{{item.pk}}" /> </td>
                            <td> <img class="menu-item-image" src="{{item.image.url }}" width="60px" height="60px"/> </td>
                            <td> {{item.name}} </td>
                            <td>
                            {%if item.category == 'VEG' %}
                                <img src = "{%static 'images/veg.png'%}" width='40px' height='40px'/>
                            {%else%}
                                <img src = "{%static 'images/nonveg.png'%}" width='40px' height='40px'/>
                            {%endif%}
                            </td>
                            <td> {{item.price}} </td>
                            <td > <input type="number" name="quantity_list"   /> </td>
                        
                        </tr>
                    {% endfor %}
                </table>
                <button> Submit </button>
            </form>
            <br>
            </div>
            <div class="order-footer">
                Developed by 
                &nbsp  
                <a href="https://github.com/Hariish-A" target="_blank">
                    
                    Hariish A 
                  
                </a>
                &nbsp;
                and
                &nbsp;
                <a href="https://github.com/hajay180505" target="_blank">
                
                        Ajay H
                    
                </a>
                &nbsp;
            </div>
            
        </div>
        
    </div>
    

</body>


