
{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<title>Need for feast</title>
<body class = "order-his">
    <a href = '/'>
        <img src = " {%static 'images/transparent_black.png'%}" class = 'logo'>
    </a>
    <table class='pending-table'>
        <tr>
            <th> Order ID</th>
            <th> Time</th>
            <th> Status</th>
            <th> </th>
            <th> </th>
        </tr>
        
    
    {%for order in order_list%}
    <tr>
        <td>
            {{order.pk}}
        </td>
        <td>
            {{order.created_on|timesince}} ago
        </td>
        
        {% comment %} # 0 - ordered
        # -1 - refused order
        # 1 - preparing
        # 2 - ready for pickup
        # 3 - on the way
        # 4 - delivered {% endcomment %}
        <td>
            {%if order.delivered == 3 %}
                On the way 
            {%elif order.delivered == 2 %}
                Ready for pickup
            {%elif order.delivered == 1 %}
                Preparing
            {%elif order.delivered == 0 %}
                Ordered
            {%elif order.delivered == -1 %}
                Refused order
            {%endif%}
        </td>
        <td>
            <a href = "{% url 'order-view' order.id %}" >
                <button class = 'create-button' style='font-size:0.7em;'>
                    Details
                </button>
            </a>
        </td>
        <td>
        {%if order.delivered == 4%}
        <a href = "{%url 'rating' order.id %}" >
            <button class = 'create-button' style='width:140; font-size:0.7em'>
                Leave review
            </button>
        </a>
        {%endif%}
        </td>
    </tr>
    {%endfor%}
</table>


</body>