{%load static%}
<title>
    Need for feast!
</title>
<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>


<body class="order-confirm-body">
    <p>Please verify your order:</p>
    <table class = "order-confirm-table">
        <tr>
            <th> Item Name </th>
            <th> Price </th> 
            <th> Quantity </th>
        </tr>
    
        {% for item in bill %}
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td > {{item.qty}} </td>
            </tr>
        {% endfor %}
            <tr>
                <td>Amount:</td>
                <td> </td>
                <td>{{amount}}</td>
            </tr>
    </table>
    
    <a href="{%url 'delete-order' order.pk%}" style="color: red;"> Change order</a>
    <br>
    <a href="{%url 'order' temp %}" style="color: red;"> Place another order</a>
    <br>
    <a href="{%url 'home'%}" style="color: red;"> Home</a>
    <br><br><br>
    Developed by  
    <a href="https://github.com/Hariish-A" style="color: rgb(0, 255, 170);">Hariish A</a>
    and
    <a href="https://github.com/hajay180505" style="color: rgb(0, 255, 170);">Ajay H</a>
</body>


