
<title>
    Need for feast!
</title>
<head>
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>


<body>
    <p>Please verify your order:</p>
    <table>
        <tr>
            <th> Item Name </th>
            <th> Price </th> 
            <th> Quantity </th>
        </tr>
    
        {% for item in bill %}
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td > {{item.qty}} </td>
            </tr>
        {% endfor %}
            <tr>
                <td>Amount:</td>
                <td> </td>
                <td>{{amount}}</td>
            </tr>
    </table>
    
    <a href="{{request.META.HTTP_REFERER}}"> Change order</a>
    <br>
    <a href="{%url 'order'%}"> Place another order</a>
    <br>
    <a href="{%url 'home'%}"> Home</a>
    <br><br><br>
    Developed by  
    <a href="https://github.com/Hariish-A">Hariish A</a>
    and
    <a href="https://github.com/hajay180505">Ajay H</a>
</body>


