{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'styles/style.css'%}" />

        <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
    </head>
    <title>Need for feast</title>
    <body class = "deliverer-content">
        <div class="login-content">
            <form action="" method="POST">
                {%csrf_token%}
                {%for field in form %}
                    <div>
                        <label class="">
                            {{field.label}}
                        </label>
                        {{field.errors}}
                        {{field}}
                    </div>
                    
                {%endfor%}
                <label for="area-input">Area </label>
                <input type="text" id="area-input" name="area"/>
                <br>
                <input type="submit" value="Register"/>
            </form>
        </div>
        
    </body>
</html>