{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />

    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>
<title>Need for feast</title>
<body class = "role-content">

    {%if messages%}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {%endfor%}  
        </ul>
        {% endif %}
    <label for="role-select">Choose a role:</label>
    <form method="POST" action="">
        {% csrf_token %}
        <!-- <div class = "select-content"> -->
            <select name="selected_role" id="role-select" class = "select-content">
                <option value=""></option>
                <option value="customer">Customer</option>
                <option value="owner">Owner</option>
                <option value="deliverer">Deliverer</option>
            </select>
        
        <input class = "sub-button" type="submit" value="Next" />
        <!-- </div>   -->
    </form>
    

</body>
</html>