{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <link rel="icon" href="{%static 'images/feast_favicon.jpg'%}" />
</head>
<title>Need for feast</title>
<body>
    <a href = '/'>
        <img src = "">
    </a>
    
    {%if messages%}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {%endfor%}  
    </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
    <a href = '/'>
        <img src = "">
    </a>

</body>
