/* * {
    background-color: red;
} */
body{
    margin:0px;    
}
.order-link{
    /* background-color: #f8c82ce7;
    color: white;*/
    padding: 10px ;
    margin-top : 100px;
    margin-left: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;

}

.order-link:hover{
    border:50px thin black;
    opacity: 40%;

}

.home-content-wrapper{
    
    background-image: url("../images/logo.jpg");
    background-size: 100% 100%;
    opacity: 80%;
    height:100vh;

}
