/* * {
    background-color: red;
} */

*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0px;  
}
.order-link{
    /* background-color: #f8c82ce7;
    color: white;*/
    padding: 10px ;
    margin-top : 100px;
    margin-left: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;

}

.order-link:hover{
    border:50px thin black;
    opacity: 40%;

}

.home-content-wrapper{
    
    margin-left: 15px;
    /* margin-top: 20px; */
    float: right;
    
} 
/* 
.login-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 113;
    border-radius: 2px;
    cursor:pointer;
    margin-right: 8px;
  } */

  .logo{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    
  }

  .main-body{
    background-image: url("../images/logo.jpg");
    background-size: 100% 100%;
    opacity: 95%;
    height:100vh;
  }

  .create-button{
    background-color: white;
    border-color: rgb(25, 83, 190);
    color:rgb(25, 83, 190);
    border-width: 1px;
    border-style:solid;
    height:35px;
    width: 100px;
    border-radius: 2px;
    cursor:pointer;
  }

  .order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  } 
  .table-container{
    display:flex;
    flex-direction: column ;
    justify-content: center;

  }
  .order-footer{
    display:flex;
    justify-content: center;
  }
  .header {
    font-size: 40px;
    font-weight: 600;
    margin-left: 520;
    /* padding-left: 310; */
    background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, #553c9a, #ee4b2b 10%, #553c9a 20%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .make-login{
    background-image: url("../images/burger.jpg") ;
    background-size: 100% 100%;
    opacity: 80%;
    height:100vh ;
  }
  
  .login-content{
    margin-top: 120;
    margin-left: 400;
    font-size:x-large;
    line-height: 50px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:white
  }

  .order-confirm-body{
    background-color: #ffffff;
    font-size:x-large;
    line-height: 50px;
    padding-left: 800;
    padding-top: 50;
    background-image: url("../images/billing.jpg");
    background-size: 100% 100%;
    color: #ccc;
}

  .order-confirm-table{
    font-size:x-large;
    line-height: 50px;
  }

  input:not([type="submit"],[type="number"])  {
    width: 300px;
    font-size: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px dotted black;
  }
  label {
    display: inline-block;
    width: 300px;
    text-align: left;
  }

  .role-content{
    background-image: url("../images/orange_with_circles.jpeg");
    background-size: 100% 100%;
    margin-top: 260;
    margin-left: 600;
    font-size:x-large;
    line-height: 50px;
  }

  .sub-button{
    background-color: rgb(58, 1, 163);
    color: white;
    /* border: none; */
    height: 36px;
    width: 74px;
    /* border-radius: 8px;
    border-radius: 18px; */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 18px;
  }

  .select-content{
    width: 210px;
    height:36px;
  }

  .login-button{
    background-color: rgb(182, 0, 0);
    color: white;
    /* border: none; */
    height: 36px;
    width: 74px;
    /* border-radius: 8px;
    border-radius: 18px; */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 2.7px;
    margin-top: 20;

  }

  .signup-content{
    color: rgb(0, 174, 255);
  }

  .customer-content{
    background-image: url("../images/salad.jpeg");
    background-size: 100% 100%;
  }

  .deliverer-content{
    background-image: url("../images/omlette.jpeg");
    background-size: 100% 100%;
  }

  .owner-content{
    background-image: url("../images/donut.jpeg");
    background-size: 100% 100%;
  }

  .pending-table{
    margin-top:0;
    margin-left: 340;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size:x-large;
    line-height: 50px;
    background-image: url("../images/white.jpg");
  }

  tr th,tr td{
    padding-right: 22;
  }

  .item-create{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/brown.jpg");
    background-size: 100% 100%;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #000000;
    flex-direction: column;
  }

  .table-addon{
    padding: 4;
    font-size:x-large;
    line-height: 50px;  
  }

  textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
  }

  input[type = "submit"]{
    background-color: rgb(163, 1, 1);
    color: white;
    /* border: none; */
    height: 36px;
    width: 74px;
    /* border-radius: 8px;
    border-radius: 18px; */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
  }

  
  
  .scroll-container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }
  

  
  .cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    background-color: #ee4b2b;
  }
  
  .card:hover {
    color: white;
    background: orange;
  }
  
  .card .card-title {
    font-size: 20px;
  }
  
  .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: orange;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: darkorange;
  }
  
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: darkorange;
  }
  
  .cards::-webkit-scrollbar-track {
    background: #edf2f4;
  }
  
  @media (min-width: 500px) {
    .cards {
      grid-auto-columns: calc(50% - 10px);
      grid-column-gap: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .cards {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
  }
  
  .hide{
    background-color: #ccc !important;
    color: white;
    border: none !important; 
    height: 0px !important;
    width: 0px !important;
    cursor: pointer;
    font-size:0 !important;
    display:block;
    line-height:0
  }

  .bg{
    background-image: url('../images/order.jpg'); 
    background-size: 100% 100%;
    opacity: 80%;
    height:100vh;
  }